.slidestyle{
  width: 500px;
};
.active{
  left:20px;
}
.imgstyle{
  vertical-align: middle;
}
.textstyle{
  position: absolute;
  padding:0;
  bottom: 0;
  height:30px;
}
 h4{
  margin:10px 0 0 0;
}
p{
  margin: 0;
}
