body{
    font:normal 100%  "Microsoft YaHei", "Hiragino Sans GB", sans-serif;
}
#container{

    width:960px;/*原来是这儿的设定有问题*/
    margin:0 auto;
    background-color:rgb(242,242,242);
    background-attachment: fixed;
    position:relative;
}
#head-right,#head-left{
    display:inline;   /*float:left会消除行占为，background-image将会消失*/
}
#head-right{
    float:right;
}
.font{
    font-size: 1.5em;
}
#header{

    border-bottom: 2px solid black;
    width:960px;

}
#h-left-img,#h-left-p{
    float:left;
    margin-top:5px;
    margin-left: 10px;;
}
.status-left,.status-right{
    float:right;
    text-align: center;
    margin: 0 10px;;
}
/*会顶格的竖线这样的样式不可取，还是应该设置为div*/
.status-right {
    border-right: 2px solid #cfcfcf;
    height: 50px;
    padding-right: 15px;
}
#content-h{
    height:100px;
}

#content-f{
    text-align: center;
    height:400px;
    background-color: rgb(242,242,242);
}

.images{
    width:400px;
    height:300px;
    margin: 50px;
    text-align: center;
}
#wall-img{
    display:none;
}
#face-img{
    display:none;
}

#pagination{
    float:right;
}
.pagination{
    list-style: none;
    display:block;
}
.list-page{
    display:inline;

}
.list-page a{
    display: inline-block;/*这里若没有inline-block,其高度和上下内外边距的是不认的*/
    width:30px;
    height:30px;
    background-color: #cfcfcf;
    border:1px solid #888888;
    font-family: Arial, "Microsoft YaHei", "Hiragino Sans GB", sans-serif;
    font-size: 20px;
    text-align: center;
    margin:-3px;
    color: #ffffff;
    text-decoration: none;

}
.list-page a:hover{
    background-color:#888888;
    text-decoration: none;
}
